*.dll
.ipynb_checkpoints
*/__*/
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.pyc
[Bb]in
[Dd]ebug*/
*.sbr
obj/
*.tmp
**/Kqlmagic_temp_files/
**/.vscode/
**/.idea/
**/__pycache__/
**/.pytest_cache/*
**/__pycache__/*
/miscnotebooks/test/*
/*.code-workspace